/07. (해양수산부) 지능형 해양수산 재난정보체계 구축 1단계.pdf
/A202001017_0630_tesr02.py
/cards_pixel
/desktop.ini
/finance.db
/finance_final.db
/finance_manager.py
/finance_v2.db
/finance_v3.db
/finance_web.db
/generate_proposal_ppt.py
/generate_uno_pixel_cards.py
/localhost.crt
/localhost.key
/make_proposal.py
/make_proposal_integrated_ocr.py
/morgan
/naver_news_headlines_20250923_141637.csv
/news_scraper.py
/nodejs
/node_modules
/opinet_gui.py
/opinet_map.html
/package-lock.json
/package.json
/scraper.log
/scraper_report.log
/uno_game.py
/uploads
/venv
/YJM
/새 텍스트 문서.txt
/지능형 해양수산 재난정보체계 구축 ISP 수립_정성적제안서(100p이상_최종).pptx
/지능형 해양수산 재난정보체계 구축 ISP 수립_정성제안서(시각형 완성).pptx
/지능형 해양수산 재난정보체계 구축 ISP 수립_정성제안서(실무통합_최종).pptx
/해양경찰청 정보화 기본계획 수립_정성적제안서(최종)_25.05.13(수정).pptx